
    <div class="creative-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="banner-box-1 banner-inner">
                        <div class="banner-title">Miễn phí giao hàng</div>
                        <div class="banner-content">
                            <p>Miễn phí giao hàng toàn quốc với sản phẩm trên 500.000 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="banner-box-2 banner-inner bannneer">
                        <div class="banner-title">Bảo hành chính hãng</div>
                        <div class="banner-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="banner-box-3 banner-inner">
                        <div class="banner-title">Thương hiệu nổi tiếng</div>
                        <div class="banner-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>