@*<div class="slider-area an-1 hm-1 clr">

        <div class="bend niceties preview-2">
            <div id="ensign-nivoslider" class="slides">
                <img src="~/Content/SlideImg/rsz_860_evo_05.jpg" alt="" title="#slider-direction-3" />
                <img src="~/Content/SlideImg/slider_5.jpg" alt="" title="#slider-direction-3" />
                <img src="~/Content/SlideImg/slider_2.jpg" alt="" title="#slider-direction-3" />
                <img src="~/Content/SlideImg/slider_3.jpg" alt="" title="#slider-direction-3" />
            </div>

        </div>

    </div>*@
<!-- end home slider -->
<!-- home-2 slider area start  -->
<div class="slider-area mt30 mb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="left-slide">
                    <!-- slider -->
                    <div class="slider-area">
                        <div class="bend niceties preview-2">
                            <div id="ensign-nivoslider-2" class="slides">
                                <a href="#"><img src="~/Content/SlideImg/rsz_t7-touch-2.jpg" style="width:770px;height:437px;" alt="" title="#slider-direction-1" /></a>
                                <a href="#"><img src="~/Content/SlideImg/rsz_3-kf-860qvo-pc.jpg" style="width:770px;height:437px;" alt="" title="#slider-direction-2" /></a>

                            </div>
                            <!-- direction 1 -->
                            @*<div id="slider-direction-1" class="t-cn slider-direction">
                                    <div class="slider-content t-lfl slider-2">
                                        <div class="title-container">
                                            <h1 class="title1">Book of “Smile”</h1>
                                            <h3 class="title3">Make your life so beautiful !</h3>
                                        </div>
                                    </div>
                                </div>*@
                            <!-- direction 2 -->
                            @*<div id="slider-direction-2" class="slider-direction">
                                    <div class="slider-content t-lfl slider-2">
                                        <div class="title-container">
                                            <h1 class="title1">Book of “Smile2”</h1>
                                            <h3 class="title3">Make your life so beautiful-2 !</h3>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <!-- slider end-->
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="left-slide-add">
                    <div class="single-add vina-banner">
                        <a href="#"><img style="width:369px;height:207px;" src="~/Content/SlideImg/rsz_860_evo_05.jpg" alt=""></a>
                    </div>
                    <div class="single-add vina-banner mt20">

                        <a href="#"><img style="width:369px;height:207px;" src="~/Content/SlideImg/rsz_2-860pro_pc.jpg" alt=""></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- home-2 slider area end -->