<!-- slider area start -->
<div class="slider-area an-1 hm-1 clr">
    <!-- slider -->
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            <img src="~/Content/img/slider/slider1-bg.jpg" alt="" title="#slider-direction-1" />
            <img src="~/Content/img/slider/slider2-bg.jpg" alt="" title="#slider-direction-2" />
            <img src="~/Content/img/slider/slider3-bg.jpg" alt="" title="#slider-direction-3" />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-content t-lfr lft-pr s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <h2 class="title1">Baby's Clothing</h2>
                    <h3 class="title2">Save Up to</h3>
                    <h4 class="title2">50% Off</h4>
                    <a class="btn-title" href="single-product.html">Shop Now</a>
                </div>
            </div>
            <!-- layer 1 -->
            <div class="layer-1-2">
                <img src="~/Content/img/slider/slider1-for.png" alt="" />
            </div>
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
            <div class="slider-content t-lfr s-tb slider-2 lft-pr">
                <div class="title-container s-tb-c">
                    <h2 class="title1">Home Appliances</h2>
                    <h3 class="title2">Save Up to</h3>
                    <h4 class="title2">50% Off</h4>
                    <a class="btn-title" href="single-product.html">Shop Now</a>
                </div>
            </div>
            <!-- layer 1 -->
            <div class="layer-1-1">
                <img src="~/Content/img/slider/slider2-for.png" alt="" />
            </div>
        </div>
        <!-- direction 3 -->
        <div id="slider-direction-3" class="slider-direction">
            <div class="slider-content t-lfr s-tb slider-3 lft-pr">
                <div class="title-container s-tb-c">
                    <h2 class="title1">Birthday's Gift's</h2>
                    <h3 class="title2">Save Up To</h3>
                    <h4 class="title2">50% Off</h4>
                    <a class="btn-title" href="single-product.html">Shop Now</a>
                </div>
            </div>
            <!-- layer 1 -->
            <div class="layer-1">
                <img src="~/Content/img/slider/slider3-for.png" alt="" />
            </div>
        </div>
    </div>
    <!-- slider end-->
</div>
<!-- end home slider -->